<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="title">Management User</h1>
    <form class="form-addUser" action="/user" method="post">
        <div class="field-email">
            <label class="label-email" for="">Email:</label>
            <input class="input-email" type="email" name="email" id="">
        </div>
        <div class="field-password">
            <label class="label-password" for="">Password:</label>
            <input class="input-password" type="password" name="password" id="">
        </div>
        <input class="btn-submit" type="submit" value="Register">
    </form>
    <form action="/user" method="get">
        <table class='list-users' style="width: 100%;">
            <tr>
                <th>id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                <th>1</th>
                <th>admin123</th>
                <th>12345</th>
                <th><button>Edit</button></th>
                <th><button>Delete</button></th>
            </tr>
        </table>
    </form>
</body>
</html>