* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 20px;
}

.title {
    margin-bottom: 20px;
}

.form-addUser {
    text-align: center;
    padding: 10px;
}

.field-email {
    padding-bottom: 20px;
}

.field-password {
    padding-bottom: 20px;
}

.btn-submit {
    width: 100px;
    height: auto;
}

table, tr, th{
    border: 1px solid black;
}